/* ========== Colors ========== */
:root {
    --default: #433ae0;
    --bg-color: #01000c;
    --dark-color: #3c4858;
    --grey: #8492a6;
    --white: #fff;
    --black: #000;
}

/* ========== Reset ========== */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

@media only screen and (max-width: 996px) {
    html {
        font-size: 60%;
    }
}

body {
    font-size: 1.6rem;
    font-family: "Dosis", sans-serif;
    line-height: 1.5;
}

.container {
    max-width: 114rem;
    margin: 0 auto;
    padding: 0 2rem;
}

@media only screen and (max-width: 996px) {
    .container {
        padding: 0 3rem;
    }
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    /* max-height: 100%; */
}

/* ============ header ============ */

.header {
    min-height: 100vh;
    background-color: var(--bg-color);
}

.navigation {
    padding: 1.5rem 0;
}

.nav__center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav__center .nav__menu {
    display: flex;
    align-items: center;
    height: auto;
}

.hamburger {
    display: none;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__logo h1 {
    font-size: 3.5rem;
    color: var(--white);
}

.nav__logo span {
    margin-right: 1.6rem;
}

.nav__logo svg {
    width: 4rem;
    height: 4rem;
    fill: var(--white);
}

.nav__list {
    display: flex;
    align-items: center;
    height: auto;
}

.nav__list .nav__item:not(:last-child) {
    margin-right: 0.5rem;
}

.nav__list .nav__link:link,
.nav__list .nav__link:visited {
    display: inline-block;
    padding: 1rem 1.5rem;
    color: var(--white);
    font-weight: 600;
    transition: all 300ms ease-in-out;
}

.nav__list .nav__link:hover {
    color: var(--grey);
}

.nav__list .nav__item:last-child .nav__link {
    padding: 1rem 2rem;
    background-color: var(--default);
    border-radius: 3rem;
    border: 1px solid var(--default);
    transition: all 300ms ease-in-out;
}

.nav__list .nav__item:last-child .nav__link:hover {
    background-color: transparent;
}

@media only screen and (max-width: 768px) {
    .nav__menu {
        justify-content: center;
        position: absolute;
        top: 10%;
        left: 0;
        background-color: var(--black);
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: all 300ms ease-in-out;
    }

    .nav__list {
        padding: 1.6rem 0;
        flex-direction: column;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger svg {
        width: 3.5rem;
        height: 3.5rem;
        fill: var(--white);
    }

    .nav__logo h1 {
        font-size: 3rem;
    }

    .nav__logo svg {
        width: 3rem;
        height: 3rem;
        fill: var(--white);
    }

    .nav__list .nav__item:not(:last-child) {
        margin: 0 0 1rem;
    }
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 8.25rem);
    width: 100%;
}

.banner__center {
    display: flex;
    align-items: center;
}

.banner__right {
    flex: 1 1 50%;
}

.banner__left {
    color: var(--white);
    margin-right: 2rem;
    flex: 1 1 50%;
}

.banner__left span {
    display: inline-block;
    color: var(--grey);
    margin-bottom: 1.5rem;
}

.banner__left h1 {
    font-size: 4.5rem;
    line-height: 1.2;
    text-transform: capitalize;
    margin-bottom: 1.5rem;
}

.banner__left p {
    color: var(--grey);
    margin-bottom: 3rem;
}

.banner__left a:link,
.banner__left a:visited {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--default);
    color: var(--white);
    font-weight: 600;
    border-radius: 0.5rem;
}

@media only screen and (max-width: 1200px) {
    .banner__left span {
        margin-bottom: 1rem;
    }

    .banner__left h1 {
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    .banner__left p {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 996px) {
    .banner__left span {
        font-size: 1.4rem;
    }

    .banner__left h1 {
        font-size: 3rem;
    }

    .banner__left p {
        font-size: 1.4rem;
    }

    .banner__left a:link,
    .banner__left a:visited {
        padding: 0.7rem 1.6rem;
    }
}

@media only screen and (max-width: 768px) {
    .banner__center {
        flex-direction: column;
    }

    .banner__left {
        color: var(--white);
        margin: 0 0 2rem;
        flex: 1 1 50%;
    }

    .banner__left span {
        font-size: 1.3rem;
    }

    .banner__left h1 {
        font-size: 2.5rem;
    }

    .banner__left p {
        font-size: 1.3rem;
    }
}

/* ========== Products ========== */

.products {
    height: 90vh;
    position: relative;
}

.product__center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    align-items: center;
}

.product__left,
.product__right {
    flex: 1 1 50%;
}

.product__left {
    max-width: 90%;
}

.product__right {
    width: 90%;
    margin-left: 2rem;
}

.product__right h1 {
    font-size: 4.5rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.product__right p {
    color: var(--dark-color);
    margin-bottom: 3rem;
}

.product__right a {
    display: inline-block;
    padding: 1rem 3rem;
    color: var(--white);
    background-color: var(--default);
    border-radius: 2rem;
}

@media only screen and (max-width: 996px) {
    .products {
        height: 70vh;
        padding: 2rem 0;
    }

    .product__left {
        margin-left: 2rem;
        max-width: 50rem;
    }

    .product__right {
        margin-left: 0;
    }

    .product__right h1 {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 768px) {
    .products {
        height: 90vh;
    }

    .product__center {
        flex-direction: column;
    }

    .product__right h1 {
        font-size: 3rem;
    }
}

/* ============ Footer ============ */

.footer {
    background-color: var(--bg-color);
    padding: 6rem 0;
    line-height: 3rem;
}

.footer-top__box span svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--grey);
}

.footer-top__box span {
    margin-right: 1rem;
}

.footer__top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: var(--white);
}

.footer-top__box a:link,
.footer-top__box a:visited {
    display: block;
    color: var(--white);
    font-size: 1.4rem;
    transition: 0.6s;
}

.footer-top__box a:hover {
    color: var(--grey);
}

.footer-top__box div {
    color: var(--white);
    font-size: 1.4rem;
}

.footer-top__box h3 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

@media only screen and (max-width: 998px) {
    .footer__top {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .footer__top {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
}